body {
    background-color: #15202B;
    color: white
}

.sections {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 600px; /* Tamanho fixo do meio */
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  min-height: 100vh;
}


html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    overflow-y: scroll;
}